/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  background: linear-gradient(
    180deg,
    #568af0 -4.98%,
    rgba(207, 216, 234, 0.72) 100%
  );
  color: black;
  font-family: sans-serif;
  overflow: hidden;
}

/* button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
} */

/* button:hover {
  transform: scale(1.05);
  opacity: 1;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  /* margin: 10px; */
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

/* WelcomePage.tsx */
.start-btn {
  width: 170px;
  height: 63px;
  background-color: white;
  font-size: 24px;
  font-weight: 600;
}

/* header.tsx */
.gnb {
  width: 100%;
  height: 12vh;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav > ul {
  width: 100%;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

/* snb.tsx */
.snb-container {
  /* width: 400px; */
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px;
  box-sizing: border-box;
}

.snb-setting-wrapper {
  width: 100%;
  height: 151px;
  background-color: white;
}

.snb-icons-container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.snb-icons-container > a {
  margin: 10px;
}

.snb-data-wrapper {
  width: 100%;
  height: 80px;
  background-color: #568af0;
}

.snb-container {
  z-index: 999;
}

.snb-container > .child {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.snb-container > .bottom-fixed {
  margin-top: auto;
}

.scroll-end {
  display: block;
  height: 100px;
}

.snb-column-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.snb-column-child-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

.snb-column-child-btn {
  width: 74px;
  height: 31px;
  background-color: #e2e2e2;
  border-radius: 8px;
  padding: 0;
  margin: 0px 10px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.snb-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snb-column-child-btn.btn-blue {
  background-color: #568af0;
  color: white;
}

.snb-column-child-btn.btn-backup,
.snb-column-child-btn.btn-import {
  /* margin-left: auto; */
}

.snb-modify-btn.snb-modify-btn {
  background: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

.btn-wrapper {
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.test-start-btn,
.download-btn {
  width: 100%;
  height: 58px;
  background: #568af0;
  color: white;
  border-radius: 20px;
}

.import-success-screen {
  /* background-color: lightyellow; */
  height: 62vh;
}

/* examineeData.tsx */
.examinee-data-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.examinee-card {
  /* background-color: burlywood; */
}

.chart-wrapper {
  align-self: baseline;
  margin-top: 10vh;
}
.chart-component {
  width: 420px;
  height: 500px;
}

/* testForm.tsx */
.test-form-wrapper {
  width: 1040px;
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.test-form-inner {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-contents-wrapper {
  width: 100%;
  height: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-btn-wrapper {
  width: 828px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-btn {
  position: absolute;
}

.progress-btn.prev-btn {
  left: 0px;
}
.progress-btn.next-btn {
  right: 0px;
}

.progress-btn:disabled {
  opacity: 0.1;
}

.icon-arrow {
  width: 46px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 36px 0px;
}

.progress-bar > div {
  transition: all ease-out 0.3s;
}

.progress-bar > .dot {
  width: 12px;
  height: 12px;
  background: #989898;
  border-radius: 100%;
  margin: 0px 8px;
}

.progress-bar > .dot.active {
  width: 36px;
  background: #393939;
  border-radius: 10px;
}

/* Alert.tsx */
.alert-wrapper {
  position: absolute;
  background-color: white;
  width: 518px;
  height: 153px;
  border-radius: 10px;
  text-align: center;
}
.alert-inner {
  display: flex;
  flex-direction: column;
}
.alert-text {
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-btn {
  display: block;
  color: white;
  background-color: #568af0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* notice.tsx */
.notice-wrapper {
  position: absolute;
  width: 820px;
  height: 600px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-inner {
  text-align: center;
}

.notice-inner img {
  display: inline-block;
  margin: 0px 0px 55px 0px;
}

.notice-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 64px;
}

/* MainPage.tsx */

.contents-area {
  display: flex;
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.main-contents {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-contents-bg {
  z-index: -999;
}

.bg-circle-4 {
  margin-top: 114px;
  left: 20px !important;
}

/* examineePopup.tsx */
.examinee-popup-wrapper {
  position: absolute;
  width: 450px;
  height: 516px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.close-btn-wrapper {
  width: 450px;
  height: 50px;
  background: #568af0;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 23px 0px 0px;
}

.popup-contents {
  height: 466px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-contents > .popup-title {
  margin: 46px 0px 52px 0px;
}

.popup-contents > .popup-title {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-contents > .popup-title > img,
span {
  float: left;
}

.popup-contents > .popup-title > img {
  width: 28px;
  margin: 0px 12px 0px 0px;
}

.popup-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 32px 0px;
}

.popup-item > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-item > .popup-item-order-number,
.info-input-item > .info-input-item-order-number {
  width: 25px;
  height: 25px;
  background: #568af0;
  color: white;
  border-radius: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  margin: 0px 14px 0px 0px;
}

.popup-item > .popup-item-subject,
.info-input-item > .info-input-item-subject {
  width: 100px;
  height: 20px;
  margin: 0px 28px 0px 0px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.popup-item > .popup-item-data {
  width: 170px;
  height: 46px;
  background: #e2e2e2;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 0px 17px;
}

/* EditingName.tsx */
.editing-name-wrapper,
.save-success-wrapper {
  width: 518px;
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editing-name-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editing-name-title > img {
  float: left;
  margin: 0px 23px 0px 0px;
}

.editing-name-title > p {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.editing-name-modal {
  width: 518px;
  height: 176px;
  background: #ffffff;
  border-radius: 10px;
}

.modal-item-wrapper {
  width: 100%;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-item-wrapper > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-item-wrapper > li > img {
  margin: 0px 23px 0px 0px;
}

.modal-item-wrapper > li > .modal-item-subject {
  margin: 0px 94px 0px 0px;
}

.modal-item-wrapper > li > .modal-item-data {
  width: 175px;
  height: 46px;
  background: #e2e2e2;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.modal-btn-wrapper {
  width: 518px;
  height: 50px;
  background: #568af0;
  border-radius: 0px 0px 10px 10px;
}

.modal-btn-wrapper > li > .btn-apply,
.btn-cancle {
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  color: white;
}

.modal-btn-wrapper > li > .btn-apply {
  border-right: 1px solid white;
}

.modal-btn-inner {
  width: 100%;
  height: 100%;
}

.modal-btn-wrapper > li > .confirm-btn {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-item {
  background-color: rgb(210 226 255);
}

/* examineeInfoForm.tsx */
.info-form-title {
  width: 100%;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-form-title > img {
  width: 30px;
  margin: 0px 0px 27px 0px;
}

.info-form-title > p {
  font-size: 24px;
  margin: 0px 0px 34px 0px;
}

.info-input-wrapper {
  width: 446px;
  height: 516px;
  background: #f3f3f3;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.info-input-inner {
  width: 100%;
  height: 100%;
  padding: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-input-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.info-input-item > .info-input-item-input {
  width: 197px;
  height: 46px;
  background: #e2e2e2;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 0px 17px;
}

.info-memo-wraper {
  width: 446px;
  height: 84px;
  box-sizing: border-box;
  background: #f6f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin: 40px 0px;
}

.info-memo-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px 31px;
  resize: none;
}

.info-btn-wrapper {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-btn-wrapper > .info-btn {
  width: 58px;
  height: 58px;
  background-color: #568af0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-btn-wrapper > .info-btn > img {
  width: 35%;
}

/* preCheckScreen.tsx */
.pre-check-form-title,
.check-form-title {
  width: 100%;
  height: 100%;
  margin: 68px 0px 60px 0px;
}

.pre-check-form-title > p {
  text-align: center;
  font-weight: 600;
  line-height: 32px;
}

.pre-check-form-title > p:first-child {
  margin: 0px 0px 24px 0px;
}

.pre-check-form-title > p > span {
  float: none;
  color: #568af0;
}

.slide-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-bar-inner {
  display: flex;
  width: 100%;
}

.slider-bar-inner > .min-value {
  margin: 0px 31px 0px 0px;
}

.slider-bar-inner > .max-value {
  margin: 0px 0px 0px 31px;
}

input[type='range'] {
  width: 437px;
  -webkit-appearance: none;
  background-color: transparent;
  position: relative;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #568af0;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: -10px;
  border-radius: 50%;
  transition: all ease-out 0.1s;
}

input[type='range']:active::-webkit-slider-thumb {
  background-color: rgb(200, 218, 255);
  border: 6px solid rgb(86, 138, 240);
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin-top: -13px;
  transition: all ease-out 0.1s;
  opacity: 0.8;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
  transition: all ease-out 0.1s;
}

input[type='range']:active::-webkit-slider-runnable-track {
  border: 2px solid #666666;
  transition: all ease-out 0.1s;
}

.number-input-wrapper {
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-input-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px 47px 0px;
}

.number-input {
  width: 70px;
  text-align: center;
  font-size: 28px;
  border-bottom: 2px solid black;
  padding: 10px;
}

.render-number-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.test-btn-wrapper,
.abort-btn-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 54px 0px 0px 0px;
}

.test-btn-wrapper > button {
  width: 154px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 20px;
  float: left;
}

.test-btn-wrapper > .test-start-btn {
  background-color: #568af0;
  margin: 0px 30px 0px 0px;
}

/* useNumberInput.tsx */
.number-btn-wrapper {
  width: 70px;
  height: 70px;
  margin: 0px 0px 14px 0px;
}

.number-btn-wrapper.remove-margin {
  margin: 0px;
}

.number-btn-wrapper > .number-btn.confirm-btn {
  background-color: #568af0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-btn {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  font-size: 22px;
  border-radius: 100%;
}

/* checkScreen.tsx */
.check-form-title,
.result-form-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-form-title > img,
.result-form-title > img {
  width: 26px;
  margin: 0px 16px 0px 0px;
}

.check-form-title > p,
.result-form-title > p {
  font-weight: 600;
  font-size: 23px;
}

.question-progress {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abort-btn {
  width: 154px;
  height: 50px;
  background: #568af0;
  color: white;
  border-radius: 20px;
}

/* rightSNB.tsx */
.right-snb-wrapper {
  width: 316px;
  height: 240px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #f3f3f3;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
}

.right-snb-title {
  width: 100%;
  height: 50px;
  background-color: #568af0;
  color: white;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-snb-title > img {
  width: 21px;
  margin: 0px 10px 0px 20px;
}

.right-snb-title > p:first-child {
  margin: 0px 10px 0px 20px;
}

.right-snb-text {
  width: 100%;
  height: 190px;
  margin: 0px 10px 0px 20px;
  line-height: 4vh;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-snb-text.on-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* testResult.tsx */
.score-result-wrapper {
  width: 316px;
  height: 120px;
  background: #f3f3f3;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: 260px;
  right: 0px;
  font-size: 14px;
  line-height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.score-result-wrapper .currect-answer {
  color: #568af0;
}

.score-result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.score-result > img {
  width: 16px;
  margin: 0px 12px 0px 20px;
}

.result-form-title {
  width: 100%;
  margin: 0px 0px 30px 0px;
}

.graph-wrapper {
  width: 396px;
  height: 392px;
  /* border: 2px solid black;
  box-sizing: border-box; */
  margin: 50px 0px;
}

.result-btn-wrapper {
  display: flex;
  flex-direction: column;
}

.result-btn-wrapper > button {
  width: 160px;
  height: 50px;
  background: #568af0;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 12px 0px;
}

.result-btn-wrapper > button:last-child {
  margin: 0px;
}

.popup-wrapper {
  width: 1440px;
  height: 1024px;
  position: absolute;
  top: 0px;
  left: -400px;
  background: rgba(118, 118, 118, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.save-success-wrapper {
  position: absolute;
  z-index: 1000;
}
