/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  font-family: sans-serif;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

/* button:hover {
  transform: scale(1.05);
  opacity: 1;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

/* header.tsx */
.gnb {
  width: 100%;
  height: 20vh;
  background-color: aquamarine;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav > ul {
  width: 100%;
}

/* snb.tsx */
.snb-list {
  /* width: 100%; */
  background-color: lightpink;
}

.import-success-screen {
  /* background-color: lightyellow; */
}

.btn-wrapper {
  /* background-color: lightblue; */
}

/* examineeData.tsx */
.examinee-data-wrapper {
  background-color: lavender;
}

.examinee-card {
  /* background-color: burlywood; */
}
