/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  font-family: sans-serif;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

/* button:hover {
  transform: scale(1.05);
  opacity: 1;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

/* header.tsx */
.gnb {
  width: 100%;
  height: 20vh;
  background-color: aquamarine;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav > ul {
  width: 100%;
}

/* snb.tsx */
.snb-list {
  /* width: 100%; */
  background-color: lightpink;
}

.import-success-screen {
  /* background-color: lightyellow; */
  min-height: 450px;
  max-height: 450px;
}

.btn-wrapper {
  /* background-color: lightblue; */
}

/* examineeData.tsx */
.examinee-data-wrapper {
  background-color: lavender;
}

.examinee-card {
  /* background-color: burlywood; */
}

/* testForm.tsx */
.progress-btn-wrapper {
  width: 600px;
}

.progress-bar > div {
  transition: all ease-out 0.3s;
}

.progress-bar .active {
  background-color: gray;
  width: 2rem;
}

input[type='range'] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #564b9a;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: -10px;
  border-radius: 50%;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  border-radius: 1.3px;
  border: 0.2px solid #f2f4f6;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #f2f4f6;
}
